#DATABASE SETUP
spring:
  application:
    name: BOOK_RENTAL
  datasource:
#        url: jdbc:postgresql://dpg-ctul09tumphs73ep91mg-a.singapore-postgres.render.com/bookrental_60b5
        url: jdbc:postgresql://localhost:5432/Book-Rental
#        username: demobookrental
        username: postgres
#        password: sRZoaz4Y9gU9GtCeUKUmk9EDNt34NNBY
        password: admin
        driverClassName: org.postgresql.Driver
  servlet:
    multipart:
      max-file-size: 10MB
  #HIBERNATE CONFIGURATION
  jpa:
        properties:
            hibenate:
               dialect: org.hibernate.dialect.PostgreSQLDialect
               batch-size: 50
               order_inserts: true
               order_updates: true
        hibernate.ddl-auto: update
        show-sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: aashispandey2080@gmail.com
    password: vmqb vica gvtt tsmd
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

#JWT TOKEN
security:
  jwt:
    secret-key: 3cfa76ef14937c1c0ea519f8fc057a80fcd04a7420f8e8bcd0a7567c272e007b
    expiration-time: 3600000 # 1 hour in milliseconds
springdoc:
  override-with-generic-response: false

# Map custom folder as static resources
web:
  resources:
   static-locations:
    classpath: images/



