<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Renting Email Confirmation !!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }
        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
        }
        h1 {
            color: #333;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>Book Renting Confirmation</h1>

    <div>
        <p>Dear <span th:text="${object.getMember().getName()}"></span>,</p>
        <p>Thank you for renting the book <strong th:text="${object.getBook().getName()}"></strong>.</p>

        <img th:src="@{'https://bookrental-staging.onrender.com/'+${imageName}}" alt="Book Image">

        <p>We hope you enjoy reading <strong th:text="${object.getBook().getName()}"></strong>.</p>
        <p th:text="'You are expected to return before '+ ${object.getToDate()}+'.' "></p>
        <p>Thank you for using our service!</p>
    </div>
</div>

</body>
</html>
